{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="format-detection" content="telphone=no" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, user-scalable=no;" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>CheckItOut_SignUp</title>
    <script src="{% static 'account/js/jquery-3.3.1.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="{% static 'account/js/popper.min.js' %}"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->

	<script src="{% static 'account/js/jquery.validate.js' %}"></script>

	<script src="{% static 'account/js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'account/css/bootstrap_1.min.css' %}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="{% static 'account/css/bootstrap.min.css' %}">
	<!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{% static 'account/css/add2.css' %}">
	
</head>
<!--change-->
<header>
    <div > 
         <nav>  
            <div id="menu_level1">
				    <li class="logo"><a href="{% url 'seats_info:main_page' %}" class="logo">Check it out</a></li>
                </div>
                <ul id="menu_list">
                    <li ><a href="{% url 'account:login' %}">Log In</a></li>
                    <li class="current_page"><a href="{% url 'account:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'seats_info:main_page' %}">Search Seats</a></li>
                    <li><a href="{% url 'user_profile:profile' %}">Person</a></li>
                </ul>
		</nav> 
    </div>   
</header>
<!--change--> 
<body>
	<div class="container">
	<div class="row space1"><p>&nbsp; </p></div>
	<div class="row space1"><p>&nbsp; </p></div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<p>&nbsp; </p>
		</div>
		<div class="col-md-6 resignterbox_center">
			<div class="row space1"><p>&nbsp; </p></div>
			<div>
			<form action="{% url 'account:register' %}" method="post">
    		{% csrf_token %}
			<div class="row form_email_address">
				<div class="col-xs-6 col-sm-7 column">
					<div class="input-group">
						{{form.email}}
                        <!-- <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address" name="email" /> -->
			        </div>
				</div>
				<div class="col-xs-6 col-sm-3 column">
					<div class="input-group-btn dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="myBtn">Choose a format
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li data-whatever="@student.xjtlu.edu.cn"><a href="#" role="menuitem">@student.xjtlu.edu.cn</a></li>
                     <li data-whatever="@xjtlu.edu.cn"><a href="#" role="menuitem">@xjtlu.edu.cn</a></li>
                    </ul>
                    </div>
				</div>
			</div>
		    </div>
			<div class="row space1"><p>&nbsp; </p></div>
			<div class="row form-password">
				<div class="col-xs-6 col-sm-11 column">
					<div class="form-password">
						{{form.password1}}
					    <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" /> -->
				    </div>
				</div>
			</div>
			<div class="row space1"><p>&nbsp; </p></div>
			<div class="row form_confirm_password">
				<div class="col-xs-6 col-sm-11 column">
					<div class="form_confirm_password">
						{{form.password2}}
					    <!-- <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" name="password2" /> -->
				    </div>
				</div>
			</div>
			<div class="row space1"><p>&nbsp; </p></div>
			<div class="row verification_code_box">
				<div class="col-xs-6 col-sm-2 column">
					<div class="sendklk">
					    <button type="submit" class="btn send_buttons" name="ver_code_send" id="btn">Send</button>
					</div>
				</div>
				<div class="col-xs-6 col-sm-9 column">
					{{form.token}}
					<!-- <input class="form-control" type="text" placeholder="Verification Code" /> -->
					
				</div>
			</div>
			<div class="row space1"><p>&nbsp; </p></div>
			<div class="row clearfix">
		           <div class="col-xs-6 col-sm-4 column">
		           </div>
		           <div class="col-xs-6 col-sm-4 column">
				   <button id="sign" name="register_submit" type="submit" class="btn signup_buttons">Sign Up</button>
		           </div>
		           <div class="col-xs-6 col-sm-4 column">
		           </div>
	        </div>
	        </form>	
			<div class="row space1"><p>&nbsp; </p></div>
		</div>
		<div class="col-md-4 column">
			<p>&nbsp; </p>
		</div>
	</div>
</div>

<div >
   <div>
        <footer id="footer-block">
            <a class="footer-link" href="#">@2018 CKECK IT OUT</a>
        </footer>
    </div>
</div>
<!--addend-->

<script>

    $(document).ready(function() {
        $("#btn").click(function () {
            var email = $("input#exampleInputEmail1").val();
            var password1 = $("input#exampleInputPassword1").val();
            var password2 = $("input#exampleInputPassword2").val();
            // var code = $("input#code").val();
            //alert (dataString);return false;
            $.ajax({
                type: "POST",
                //url needs to be changed
                url: "/accounts/register/",
                data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        email: email,
                        password1: password1 ,
                        password2:  password2 ,
                        ver_code_send : "ver_code_send"
                    },
                dataType: 'json',
                success: function () {
                    $('#contact_form').html("<div id='message'></div>");
                    $('#message').html("<h2>Contact Form Submitted!</h2>")
                        .append("<p>We will be in touch soon.</p>")
                        .hide()

                }
            });
            return false;
        });
        var sleep = 30, interval = null;
            var btn = document.getElementById ('btn');
            btn.onclick = function ()
            {
                if (!interval)
                {
                    this.style.backgroundColor = 'rgb(243, 182, 182)';
                    this.disabled = "disabled";
                    this.style.cursor = "wait";
                    this.value = "resend (" + sleep-- + ")";
                    interval = setInterval (function ()
                    {
                        if (sleep == 0)
                        {
                            if (!!interval)
                            {
                                clearInterval (interval);
                                interval = null;
                                sleep = 30;
                                btn.style.cursor = "pointer";
                                btn.removeAttribute ('disabled');
                                btn.value = "send";
                                btn.style.backgroundColor = '';
                            }
                            return false;
                        }
                        btn.value = "resend (" + sleep-- + ")";
                    }, 1000);
                }
            }
        });
    
</script>
</body>
</html>
