{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="format-detection" content="telphone=no" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <title>Edit Personal Information</title>

    <script src="{% static 'user_profile/js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'user_profile/js/popper.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'user_profile/css/add4.css' %}">
    <link rel="stylesheet" href="{% static 'seat_info/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<header>
 <div > 
         <nav>  
            <div id="menu_level1">
				    <li class="logo"><a href="{% url 'seats_info:main_page' %}" class="logo">Check it out</a></li>
                </div>
                <ul id="menu_list">
                    <li ><a href="{% url 'account:login' %}">Log In</a></li>
                    <li><a href="{% url 'account:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'seats_info:main_page' %}">Search Seats</a></li>
                    <li class="current_page"><a href="{% url 'user_profile:profile' %}">Person</a></li>
                </ul>
	     </nav>
 </div> 
</header>
<body class>
<form action="{% url 'user_profile:edit_my_profile' %}" method="post">
{% csrf_token %}
<div class="container">
    <div class="row" style="height:120px">
    </div>
    <!--mod-->

    <div id="contact_form" class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3"></div>
    

        <div style="color: black" class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 loginbox">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Personal Profile</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                <div class=" col-lg-8 col-md-12" >
                <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name:</td>
                                    <td>
                                        {{userprofile_form.name}}
                                        <!-- <input id="nameEdit" style = "background-color: whitesmoke" class="form-control" type="name" placeholder="Name" > -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Age:</td>
                                    <td>
                                        {{userprofile_form.age}}
                                        <!-- <input id="ageEdit" style = "background-color: whitesmoke" class="form-control" type="age" placeholder="Age" > -->
                                    </td>
                                </tr>
                                <tr>
                                <tr>
                                    <td>Gender:</td>
                                    <td>
                                        <select class="form-control" style = "background-color: whitesmoke" id="genderEdit" name="gender">
                                            {% for x,y in userprofile_form.fields.gender.choices %}
                                                <option value="{{ x }}"{% if userprofile_form.fields.gender.value == x %}selected="selected"{% endif %}>{{ y }}</option>
                                            {% endfor %} 
                                            <!-- <option value="male">Male</option>
                                            <option value="female">Female</option> -->
                                        </select>

                                    </td>
                                </tr>
                                <tr>
                                    <td>Major:</td>
                                    <td>
                                        {{userprofile_form.major}}
                                        <!-- <input id="majorEdit" style = "background-color: whitesmoke" class="form-control" type="major" placeholder="Major" > -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Hometown:</td>
                                    <td>
                                        {{userprofile_form.hometown}}
                                        <!-- <input id="hometownEdit" style = "background-color: whitesmoke" class="form-control" type="hometown" placeholder="Hometown" > -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        {{user_form.email}}
                                        <!-- <input id="emailEdit" style = "background-color: whitesmoke" class="form-control" type="email" placeholder="Email" > -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>Phone Number</td>
                                    <td>
                                        {{userprofile_form.phoneNum}}
                                        <!-- <input id="phoneEdit" style = "background-color: whitesmoke" class="form-control" type="phone" placeholder="Phone Number" > -->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="row ">
                                <div class="col-lg-6 col-md-4">
                                </div>
                                <div class="col-lg-6 col-md-4 offset-md-0">
                                    <!-- <input class="btn btn-default think_buttons"  type="button" value="OK" onclick="javascrtpt:window.location.href='personal.html'"> -->
                                    <button type="submit" class="btn btn-default think_buttons">Confirm</button>
                                </div>
                                <div class="col-lg-6 col-md-4">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>


        </div>
</div>
</div>
</form>
</div>
<div class="row space1"><p>&nbsp; </p></div>
<div >
   <div>
        <footer id="footer-block">
            <a class="footer-link" href="#">@2018 CKECK IT OUT</a>
        </footer>
    </div>
</div>
</body>
</html>
